@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Roboto:wght@300;400;500;700&display=swap');

// standard colors
$white: #ffff;
$black: #0000;
$grey: #BDBDBD;

//main theme

$mainColor: #5729C8;
$secondaryColor: #EAE6FA;


//font size
$mobile-title-size: 2rem;
$mobile-text-size: 1.2rem;

// font family

$font-primary: 'Inter', sans-serif;
$font-secondary: 'Roboto', sans-serif;
