@import '../../assets/scss/main.scss';

.navbar{
  height: 62px;
  background-color: $white;
  padding: 25px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left{
    width: 116px;
    height: 29px;
  }
  .right{
    display: flex;
    align-items: center;
    justify-content: center;
    div:nth-child(1){
      img:nth-child(1){
        margin-right: 10px;
      }
      img:nth-child(2){
        margin-right: 11px;
      }
    }
    div:nth-child(3){
      display: flex;
      justify-content: center;
      align-items: center;
      p:nth-child(1){
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-family: $font-secondary;
        font-weight: 400;
        background-color: $grey;
        width: 27px;
        height: 27px;
        border-radius: 50%;
        margin-left: 19px;
      }
      p:nth-child(2){
        font-family: $font-secondary;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.02em;
        margin: 0 8px 0 12px;
      }
      img{
        margin-right: 19px;
      }
    }
  }
}